 *{
    font-family: "Newsreader", serif;
    font-style: normal;
    cursor: none;
} 
/* cursor stuff */
body {
  height: 100vh;
  background: white;
  cursor: none;
  margin: 0;
  display: flex;
  font-family: monospace;

  .cursor {
    pointer-events: none;
    z-index: 9999;

    &__ball {
      position: fixed;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      z-index: 1000;

      circle {
        fill: black;
      }
    }
  }
}

/* navbar css */
#navBarUl {
    background-color: #f8f6f492;
    backdrop-filter: blur(10px);
    font-size: 2rem;
}

#nav-link:hover{
    background-color: #c8c7c592;

}


#nav-link {
    color: black;
}

/* Home Page css */
#pageH1 {
    text-decoration: underline;
    font-size: 5rem;
}
.homePageDiv p {
    font-size: 2rem;
    border-left: 0.25rem black solid;
    padding-left: 0.5rem;
}
.rounded-circle {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;

}

/* My Projects page css */

#projectLogo {
  width: 20rem;
  height: 20rem;
}

#projectButton a{
  color:white;
  text-decoration: none;
  cursor: none;
}
#projectButton a:hover{
  color: black;
  cursor: none;
}

#projectButton {
  background-color: black;
  color: white;
  border: none;
  margin-top: 1rem;
  cursor: none;
  /* padding: .5rem 1rem .5rem 1rem */
}
#projectButton:hover{
  background-color: white;
  color: black;
  border:black solid .1rem;
  animation: none;
  transform: none;
}

/* Contact me CSS */

#messageBody {
  height: 7rem;
}

#socialLogo {
  height: 3rem;
  width: 3rem;
}
.contactForm {
  font-size: 2em;
}



/* the waves */

body {
  margin:0;
}

.header {
  position:relative;
  text-align:center;
  /* background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
  background: white;
  color:white;
}


.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: black;
  background: black;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}